@(landslip: Landslip)
@import helper._

@main("Franes", landslip.name, landslip.description) {

<div class="span10 offset1">

 <span style="display: none"> Time: <span id="tempoId">start </span> </span>




          <div id="container" > </div>
          <canvas id="myCanvas"></canvas>






          <script>
            if (top.location != location) {
              top.location.href = document.location.href ;
            }
            $(function(){

              $('#slider').slider({
                formater: function(value) {
                  return 'Rilevazione: '+value;
                },
                min: 1,
                orientation: 'horizontal',
                value:1
              });
            });
          </script>
          
          <div class="graphControls"> 
            <span class="controlComponent" >
              Tempo:&nbsp;&nbsp;&nbsp;&nbsp;
              <span id="sliderSpan">
                <input type="text" class="slider"  id="slider" data-slider-max="20">
              </span>
            </span>


            <span>
              <button class="btn fa fa-pause controlComponent " id="playBtn" onClick="toggleTweenPlay()" value="play"></button>
            </span>
          </div> 





          <script src="https://rawgithub.com/mrdoob/three.js/master/build/three.js"></script>
          <script src="@routes.Assets.at("javascripts/TrackballControls.js")" type="text/javascript"></script>
          <script src="@routes.Assets.at("javascripts/graph.js")"></script>
          <script src="@routes.Assets.at("javascripts/bootstrap-slider.js")" type="text/javascript"></script>
          <script src="@routes.Assets.at("javascripts/tween.js")" type="text/javascript"></script>
          <script>

            var positions = new Array();
            var i = 0;
            var time = 0;

            @for(sensor<- landslip.sensors){
              positions[i] = new Array();
              @for(position<- sensor.positions){
                time = @position.t;
                positions[i][time] = new Array(3);
                positions[i][time][0] = @position.x;
                positions[i][time][1] = @position.y;
                positions[i][time][2] = @position.z;
              }
              i++;
            }
            backGroundImg= '@routes.Assets.at("images/frana.png")';
            init(positions, backGroundImg);
          </script>


  }



