<!DOCTYPE html>

<html>
  <head>
      <title>Seed4d</title>
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("font-awesome/css/font-awesome.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/slider.css")">
      <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
      <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
      <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
  </head>
  <body>

    <div class="container">
      <div class="page-header">
        <div class="row">
          <div class="span10 offset3">
            <h1>
              Benvenuto in Seed4d!!
              <small></small>
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span11">
          <a href="@routes.LandslipController.landslips()">Vai alla lista dei monitoraggi.</a>
        </div>
      </div>
    </div>
  </body>
</html>